.form-input{
  display: block;
}
.container {
  margin: 0 auto;
  width: 40%;
  text-align: center;
}

#new-user-form {
  display: inline-block;
  width: 100%;
}

#new-user-form label {
  float: left;
  margin-bottom: 10px;
  margin-top: 10px;
}

.form-input {
  margin-top: 10px;
  width: 100%;
}

.errors-list li{
  color: red;
  text-align: left;
}
