<div class='container'>

  <h3>Login:</h3>

  <form action='/session' method='post'>
    Email: <input type='text' name='user[email]'>
    Password: <input type='password' name='user[password]'>

    <input type='submit' value='Login'>
  </form>

  <ul>
    <li class='errors'><%= @incorrect_login %></li>
  </ul>

</div>
