
  <nav class="navbar navbar-default">
  <% if session[:username]%>
    <a href = "users/<%=session[:username]%>"><%=session[:username]%></a>
    <a id="log-out-button"  href="/users/logout">log out</a>
  <% else %>
      <a href ='users/new'>register</a>
      <a href ='users/login'>login</a>
  <%end %>
    </nav>


