<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<h1> WEB APPetizer!</h1>
<% if session[:user_id] %>
  <% @user = User.find(session[:user_id])%>
  <%= @user.username %>
<% else %>
  <a href="users/new">REGISTER</a>
<% end %>
</body>
</html>
