<div class='container'>

  <h1>DBC Auction!</h1>

  <% if session['user_id'] %>
    <% user = User.find(session['user_id']) %>
    <a href="/users/<%= user.id %>"><%= user.username %></a> | <a href="session/delete">Logout</a>
  <% else %>
    <a href='session/new'>Login</a> | <a href='users/new'>Register</a>
  <% end %>
  <hr>

<!--   <form action='/login' method='post'>
    Email: <input type='text' name='email'>
    Password: <input type='password' name='password'>

    <input type='submit' value='Login'>
  </form> -->

</div>
