<div class="container">
  <nav>
    <h2>Current Auctions</h2>
  </nav>
  <ul>
    <% @current_auctions.each do |auction| %>
      <a href="/auctions/<%= auction.id %>">
        <li class="auction-item"><%= auction.name %></li>
      </a>
    <% end %>
  </ul>
</div>
