
<h1> Welcome to Sparky's DBC Auction Site!</h1>
<h2> Now, with 63% "Almost Awesome" Particles! </h2>

<br>
<br>

<br>
<br>
<br>
<%if session[:user_id] != nil && session[:user_id] === @user.id%>
    <p> Welcome, <%=@user.username%></p>
<%else%>
  <a href="/users/new">Register</a>
  <br>
  <br>
  <a href="/login">Log In</a>
<%end%>
