<div class='container'>

  <h1> DBC Auction! </h1>
  <a href='users/new'>Register</a>

<!--   <form action='/login' method='post'>
    Email: <input type='text' name='email'>
    Password: <input type='password' name='password'>

    <input type='submit' value='Login'>
  </form> -->

</div>
