<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="/js/jquery.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <nav>
    <a href="/">DBC Auction!</a>
    <% if session[:user_id] %>
      <a href="/sessions/logout" class="session-link">Logout</a>
      <a href="/users/<%= session[:user_id] %>" class="session-link"><%= get_username(session[:user_id]) %></a>
    <% else %>
      <a href="/sessions/login" class="session-link">Login</a>
      <a href="/users/new" class="session-link">Register</a>
    <% end %>
  </nav>
  <%= yield %>
</body>
</html>
