<main class="container">
   <!--  <% if @errors%>
      <p>You better not be doin any funny business!</p>
    <% end %> -->

  <h1>Login!</h1>
  <form action="/login" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="user[username]">
    <br/>
    <label for="password">Password:</label>
    <input type="password" name="user[password]">
    <br/>
    <button type="submit">Submit</button>
  </form>
</main>
