<div class='log-form-div'>
  <center>
    <h2>Log In</h2>
    <% if @errors %>
      <%= 'Some errors go here.' %>
    <% end %>

    <form id='login' action='/sessions' method='post'>
      <label for='user[email]' class='label'>Email:</label>
      <input type=text name='user[email]' placeholder='Email' class='input'>

      <label for='user[password]' class='label'>Password:</label>
      <input type=password name='user[password]' placeholder='password' class='input'>

      <input type='submit' name='submit' value='Log In' class='submit'>
    </form>
  </center>
</div>
