<div class='reg-form-div'>
  <center>
    <h2>Create New Account</h2>
    <% if @errors %>
      <%= 'Some errors go here.' %>
    <% end %>

    <form id='register' action='/users' method='post'>
      <label for='user[email]' class='label'>Email:</label>
      <input type=text name='user[email]' placeholder='Email' class='input'>

      <label for='user[username]' class='label'>Username:</label>
      <input type=text name='user[username]' placeholder='Username' class='input'>

      <label for='user[password]' class='label'>Password:</label>
      <input type=password name='user[password]' placeholder='password' class='input'>

      <input type='submit' name='submit' value='Register' class='submit'>
    </form>
  </center>
</div>
