<div class="form container">
  <%= erb :"partials/_errors", { layout: false, locals: { errors: @auction.errors.values.flatten } } %>
  <form action = "/auctions" method = "post">
    <div>

    </div>
    <div>

    </div>
    <div>

    </div>
    <div>

    </div>
  </form>
</div>
