<div class="container">
  <h3><%= @auction.name %></h3>
  <p>Description:</p>
  <p><%= @auction.description %></p>
  <p>Condition:</p>
  <p><%= @auction.condition %></p>
  <p>Auction ends on <%= @auction.ends_at %></p>
</div>
