<h2 id="auction-item-name"><%= @auction.name %></h2>
<div class="container">
  <label class="auction-property">Description:</label>
  <p><%= @auction.description %></p>
  <label class="auction-property">Condition:</label>
  <p><%= @auction.condition.capitalize %></p>
  <label class="auction-property">Auction Ends:</label>
  <p><%= @auction.ends_at %></p>
</div>
