
<div "item-holder">
  <h2>Item up for Auction</h2>
    <span id = "name" >Item Name:<%= @item.name %></span>
    <br>
    <span id = "condition" >Condition:<%= @item.condition %></span>
    <br>

    <span id = "description" >Description:<%= @item.description %></span>

</div>


