<form id="login-form" class="form" action="/users/login" method="post">
  <label>Email:</label>
  <input class="form-input" type="email" name="user[email]">
  <label>Password:</label>
  <input class="form-input" type="password" name="user[password]">
  <input class="form-submit" type="submit" value="Log In">
</form>
