<div class="container">
  <form action="/session" method="post">
    <input type="email" name="email">email
    <input type="password" name="password">password
    <input type="submit" value="Login">
  </form>
</div>
