<div class="registration-form container">
  <% if !errors.empty? %>
    <section class="errors">
      <ul class="errors-list">
        <% errors.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </section>
  <% end %>
  <form action = "/users" method = "post">
    <div>
      <label>Email:</label>
      <input class="email" type="email" placeholder="email@domain.com" name="user[email]">
    </div>
    <div>
      <label>Username:</label>
      <input class="username" type="text" placeholder="Username" name="user[username]">
    </div>
    <div>
      <label>Password:</label>
      <input class="password" type="password" placeholder="password" name = "user[password]">
    </div>
    <div>
      <input class="submit-button" type="submit" name="Register" value="Register">
    </div>
  </form>
</div>
