<h3> Register: </h3>

<!-- Change route from / to users/id/show later on -->
<form action='/users' method='POST'>
  Email: <input type='text' name='user[email]'>
  Password: <input type='password' name='user[password]'>
  <input type='submit' value='Register'>
</form>
