<center>
  <form id="registration-form" action='/users' method="post">
    <br><br>
    <label>Email</label><br>
    <input type='text' name='user[email]' placeholder="Email"><br><br>
    <label>Username</label><br>
    <input type='text' name='user[username]' placeholder="Username"><br><br>
    <label>Password</label><br>
    <input type='password' name='user[password]' placeholder="Password"><br><br>
    <input type='submit' value='Register User'>
  </form>
</center>
