<h2>Welcome, <%= get_username(session[:user_id]) %>!</h2>
<div class="container">
  <h3>Your auctions</h3>
  <span id="new-auction-link"><a href="/auctions/new">add an auction</a></span>
  <ul>
    <% if @user.auctions != [] %>
      <% @user.auctions.each do |auction| %>
        <li>
          <%= auction.name %> <a href="/auctions/<%= auction.id %>/edit">edit</a>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
