<h2>Welcome, <%= get_username(session[:user_id]) %>!</h2>
<p>Don't forget: Don't optimize for problems you don't have yet! This profile page is fine the way it is for now.</p>
<div class="container">
  <h3>Your auctions</h3>
  <span id="new-auction-link"><a href="/auctions/new">add an auction</a></span>
  <ul>
    <% if @user.auctions != [] %>

    <% %>
  </ul>
</div>
