<h2>Welcome, <%= @user.username %></h2>
<div class="container">
  <nav>
    <h3 id="user-auction-title">Your Auctions</h3>
    <a href="/auctions/new">+ add an auction</a>
  </nav>
  <ul class="auction-list">
    <% @user.auctions.each do |auction|%>
      <li class="auction-item">
      <%= auction.name %>
      <a href="/auctions/<%= auction.id %>/edit">edit</a>
      <form class="faux-form" method="post" action="/auctions">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="auction[id]" value="<%= auction.id %>">
        <input class="faux-link" type="submit" value="delete">
      </form>
      </li>
    <% end%>
  </ul>
</div>
