<div class="container">
  <h1>Welcome, <%= "#{@user.username}" %></h1>

<div id="auction-items">
  <a href ="/items/new"> + New Auction </a>
  <h2> Your Auctions </h2>
  <ul>
    <li></li>
  </ul>
</div>






</div>


<!-- Use this page to list a user's items
add a link for listing a new item
  this link takes the user to a form
 -->
