<div class="container">
  <form action="" method="post">
    Item name<input type="text" name="name"><br>
    Item condition<input type="text" name="condition"><br>
    Item description<input type="text" name="description"><br>
    Auction start time<input type="datetime-local" name="start_time"><br>
    Auction end time<input type="datetime-local" name="end_time"><br>
    <input type="submit" value="List Item For Auction">
  </form>
</div>
