<div class="container">
  <h1> NEW AUCTION ITEM </h1>
  <form action = "/users/<%=@user.id%>/items" method = "post">
    <label for="name">Item Name:</label>
      <input class="name" type="text" placeholder="name" name="item[name]">

   <!--  Tried to implement the drop down menu for the condition, was not returning a value -> won't create item in database because of active record validation
    <label for="condition">Condition:</label>
      <select name="condition">
        <option value="empty"></option>
        <option value="Fair" name="item[condition]">Fair</option>
        <option value="Good" name="item[condition]">Good</option>
        <option value="Great" name="item[condition]">Great</option>
        <option value="Excellent" name="item[condition]">Excellent</option>
      </select> -->
    <label for="condition">Item Condition:</label>
      <input class="condition" type="text" placeholder="condition" name="item[condition]">

    <label for="starts_at">Starts:</label>
      <input id="starts_at" type="datetime-local" name="item[starts_at]"/>

    <label for="ends_at">Ends:</label>
      <input id="ends_at" type="datetime-local" name="item[ends_at]"/>

    <input class="submit-button" type="submit" name="List Item For Auction">
  </form>
</div>
