<div class='container'>

  <h3><%= @item.name %></h3>

  <hr>

  <p><strong>Description:</strong></p>
  <%= @item.description %>


  <p><strong>Condition:</strong></p>
  <%= @item.condition %>

  <hr>

  <p>Auction Ends on <%= @item.ends_at %>.</p>

</div>
