<div class="container">
  <ul>
    <li>NAME: <%= @item.name %></li>
    <li>CONDITION: <%= @item.condition %></li>
    <li>STARTS AT: <%= @item.starts_at %></li>
    <li>ENDS AT: <%= @item.ends_at %></li>
  </ul>
</div>
