<div class="form container">
  <form action = "/sessions" method = "post">
      <div>
        <label>Email:</label>
        <input class="email" type="email" placeholder="email@domain.com" name="user[email]">
      </div>
      <div>
        <label>Password:</label>
        <input class="password" type="password" placeholder="password" name = "user[password]">
      </div>
      <div>
        <input class="submit-button" type="submit" value="Register">
      </div>
  </form>
</div>
