<div class='form'>
  <center>

    <% if @user && @user.errors.any? %>
      <div id="registration-errors"
        <% @user.errors.full_messages.each do |error| %>
          <p><%= error %></p>
        <% end %>
      </div>
    <% end %>

    <form id="login-form" action='/sessions' method="post">
      <label>Email</label><br>
      <input type='text' name='email' placeholder="Email"><br><br>
      <label>Password</label><br>
      <input type='password' name='password' placeholder="Password"><br><br>
      <input type='submit' value='Register User'>
    </form>
  </center>
</div>
